*{
    box-sizing: border-box;
}
:root{
    /* Son variables de CSS*/

        --white: #FFFFFF;
        --black: #000000;
        --very-light-pink: #C7C7C7;
        --text-input-field: #F7F7F7;
        --hospital-green: #ACD9B2;
        --fondo: #020202;
        --fondo_1: #0d1117;
        --blueBiolet: #8A2BE2;
        --DarckOrchid: #9932CC;

        /* Colocaresmo medidas, po lo que entiendo las medidas se guardan es las variables, 
        cuando queramos colocarle estas medidas a algo, solamente colocamos el nombre de las
        variables */
        --sm: 18px;        
        --md: 20px;
        --lg: 22px;        


    }  
/* -------------------- ESTILO GENERALES ----------------------------- */
body{
    margin: 0px;
    background: black;    
    color: var(--white);
    /* font-family: Caveat; */
}
.contenedor > *:not(.baner, .menu, .contenedorTres){
    padding: 25px 50px 0px 50px;
}
h1{
    padding: 0 0 40px 0;    
}
p{
    text-align: justify;
}
.contenedor *:not(.ignorar){
    background-image: url(https://i.ytimg.com/vi/fG_po4mdIgk/mqdefault.jpg);
}

/* Estilos del contenedor contenedorUno */

.contenedor{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

}
.handlee{
    font-family: Handlee;
    font-size: var(--lg);
}

/* Estilos del baner */
.baner{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 2%;
    
}
.contenedorUno{
    display: flex;
    background: var(--fondo);
    padding-left: 5%;
}
.contenedorUno h1{
    margin: 0;;
}
.contenedorDos{
    position: relative;
    background: var(--fondo);
}
.autor{
    display: inline-block;
    position: absolute;
    right: 20px;
    color: var(--white);
    font-family: Caveat;
    font-size: var(--lg);
    text-decoration: none;
}
.contenedor .baner .contenedorUno .titulo{
    /* Indicamos el tipo de letra que queremos utilizar */
    font-family: Martel;
}

/* -------------------------------------------- */

/* Estilos del menu */
.menu{
    display: grid;
    background: var(--fondo_1);
    grid-template-columns: 1fr 1fr;
    font-family: Gruppo;    
}
.contenedor .menu .item{
    color: var(--white);
    border: 1px solid var(--very-light-pink);
    border-radius: 4px;
    text-align: center;    
}

/* ------------------------------------------------------------------------  */

/* Estilos del contenedor tres  */
.contenedorTres{
    display: grid;
    background-image: url(https://i.ytimg.com/vi/fG_po4mdIgk/mqdefault.jpg);
    /* background: var(--fondo); */
    grid-template-columns: 35% 65%;
    height: auto;
    width: 100%;
    padding-top: 25px;
    
}
.contenedorTres #imagenUniverso{
    width: 300px;
    height: 300px;
    background: green;
    padding: 0px;
    border-radius: 15px;
    overflow: hidden;
    place-self: center;

}
.contenedorTres .imagenDiverso img{
    width: 100%;
    height: 100%;
}
.contenedor .contenedorTres .descripcion{
    display: grid;
    /* background: var(--fondo); */
    background-image: url(https://i.ytimg.com/vi/fG_po4mdIgk/mqdefault.jpg);
    width: 100%;
    padding: 50px;
    /* Centramos los elementos que esten dentro de este contenedor grid */
    place-items: center;
    font-size: var(--lg);
    /* font-family: Handlee; */
}
.contenedor .contenedorTres .descripcion #parrafoPrincipal{
    /* Establecemos el tamaño de la letra */
    /* font-size: var(--SuperGrande); */
    color: var(--white);
}

/* ----------------- Pantalla que muestra los contactos --------------------------- */
.opcion-contenedor-contactos{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 50%;
    height: auto;
    background-color: black;
    top: 95px;
    padding: 15px;
    border: 1px solid var(--very-light-pink);
    border-radius: 10px;
}
.opcion-contacto{
    display: flex;
    flex-direction: column;        
    border-bottom: 1px solid gainsboro;
    width: 100%;
}
.opcion-nombre-contacto{
    display: flex;
    align-items: center;
    margin: 10px 0 15px 0;
}
.opcion-nombre-contacto figure{
    margin: 0;
    margin-right: 8px;
}
.opcion-nombre-contacto figure img{
    width: 30px;
    height: 30px;
    background-color: var(--black);
    
}
.opcion-nombre-contacto p{
    margin: 0;
}
.opcion-contacto > p{
    margin-top: 0;
    margin-right: 20px;
    place-self: end;
}
/* ------------------------------- Pantalla que muestra el elace a los proyecots --------------------- */

.opcion-contenedor-proyectos{
    background-color: var(--black);
    display: flex;
    position: absolute;
    width: 50%;
    height: auto;
    top: 95px;
    left: 50%;
    padding: 15px;
    border: 1px solid var(--very-light-pink);
    border-radius: 10px;
}
.nombre-proyecto{
    text-align: center;
}
.opcion-proyecto{
    border-bottom: 1px solid gainsboro;
    width: 100%;
}

/*  -------------------------------  Introducción ---------------------------------- */
.introduccion{
    display: flex;
    flex-direction: column;    
}
.titulo{
    padding: 0;
}
.yo{
    align-self: center;
}
.mi-foto{
    align-self: center;
    margin-bottom: 50px;
    
}
.mi-foto img{
    width: auto;
    height: auto;
    border-radius: 15px;
}

/* ---------------------------------- Demostración --------------------------------------- */
.demostracion .titulo{
    margin: 0 0 50px 0;
}
.demostracion .div-contenedor{
    display: flex;
    width: 100%;
    height: auto;
    /* justify-content: space-between; */
}
.div-contenedor figure{
    width: 50%;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    /* Se utiuliza con flex */
    justify-content: center;
}

.div-contenedor-orden figure{
    order: 2;
 }
.div-contenedor-orden p{
    order: 1;
 }
 .div-contenedor figure img{
    width: 50%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
 }
 .p-separador-imagenes{
    margin: 30px 0 30px 0;
    text-align: center;
 }
 .div-contenedor p{
    width: 50%;
    /* padding: 10%; */
    text-align: center;
    display: flex;
    align-items: center;
 }
.demostracion .div-lista-imagenes ul{
    display: flex;
    justify-content: center;
    list-style: none;        
    padding: 0;
 }
.demostracion .div-lista-imagenes ul li{
    margin-left: 8px;
    
 }
.demostracion .div-lista-imagenes ul li a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 5px;
    width: 100%;
    height: 100%;                        
 }
.youtubeImage{
    background-color: red;        
}
.linkedinImage{
    background-color: blue;
}
.gitImage{
    border: 1px solid var(--white);
    background-color: var(--black);
}
.enlace-prueba{
    display: flex;
    justify-content: center;       
}
.imagen-enlace-prueba{
    padding: 15px;
    background-color: black;
    border-radius: 100%;
    border: 1px solid var(--very-light-pink);
} 

/*--------------------------------------------  Pie de pagina ---------------------------------*/
.pie-pagina{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid var(--very-light-pink);
    margin-bottom: 50px;

}
.pie-pagina h1{
    font-size: var(--md);
}
.pie-pagina .contenedor-contactos{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.pie-pagina .contacto{
    display: flex;
    align-items: center ;
}
.pie-pagina p a{
    color: #66CDAA;
}
.pie-pagina .contacto .nombre-contacto{
    display: flex;
    align-items: center ;
}
.pie-pagina .nombre-contacto figure{
    margin: 0 8px 0 0;
    height: 35px;
}
.pie-pagina .nombre-contacto p{
    margin: 0 8px 0 0;
}
/* ---------------------------- ----Diseño responsivo  ---------------------------------  */

@media (max-width: 640px){

    .contenedor .contenedorTres{

        grid-template-columns: auto;
        grid-template-rows: 50% 50%;

        /* Vamos a indicar como se van a reubicar los elementos en el contenedor grid
        con la siguiente propiedad */
        grid-template-areas: 
        "descripcion"
        "imagen"
        ;
        
    }

    .contenedor .contenedorTres .imagenDiverso{
        display: inline-block;
        justify-self: center;
        /* Esta propiedad funciona en conjunto con la propiedad grid-template-areas, indica cual es el elemento con 
        el nombre */
        grid-area: imagen;
    }

    .contenedor .contenedorTres .descripcion{
        /* Esta propiedad funciona en conjunto con la propiedad grid-template-areas, indica cual es el elemento con 
        el nombre */
        grid-area: descripcion;
    }

    /* ------------------ Stylos del contenedor introducción ------------------------ */

    body .contenedor .introduccion{
        padding: 50px 50px 0 50px;
        display: flex;
        flex-direction: column;
    }

     body .contenedor .introduccion .titulo{
        /* font-size: var(--SuperGrande); */
     }
     body .contenedor .introduccion .saludo{
        font-size: var(--lg);
     }

     body .contenedor .introduccion .yo{
        width: 100%;
        text-align: center;
     }
     body .contenedor .introduccion .mi-foto{
        width: 100%;
        text-align: center;
        margin: 0;
     }
     /* ------------------ Stylos del contenedor demostración ------------------------ */
     body .contenedor .demostracion{
        padding: 0px 50px 50px 50px;
        display: flex;
        flex-direction: column;
     }
     /* body .contenedor .demostracion .div-contenedor{
        display: flex;
        width: 100%;
        height: 300px;
     } */
     body .contenedor .demostracion .div-contenedor figure{
        width: 50%;
     }
     body .contenedor .demostracion .div-contenedor figure img{
        width: 100%;
        height: 100%;
        object-fit: cover;
     }
     body .contenedor .demostracion .div-contenedor p{
        width: 50%;
        padding: 10%;
        text-align: center;
     }
     body .contenedor .demostracion .div-contenedor *{
        margin: 0;
     }
    /* ---------------- Estilos pie de pagina ------------------------------ */

    /* .pie-pagina{
        display: flex;
        flex-direction: column;
        align-items: center;
        border-top: 1px solid var(--very-light-pink);
    } */
    /* .pie-pagina h1{
        font-size: var(--md);
    } */
    .contenedor-contactos{
        display: flex;
        flex-direction: column;
    }
    .contenedor-contactos .contacto{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 15px;
    }
    .contenedor-contactos .contacto .nombre-contacto{
        display: flex;
        align-items: center;
    }
    .nombre-contacto figure{
        margin: 0;
        margin-right: 5px;
    }
    .nombre-contacto p{
        margin: 0;
    }
    .contacto p{
        margin-top: 0;
    }

}

/*  Nos aseguramos que esta sea la ultima clase que se aplique  */

.inactivo{
    display: none;
}

