*{
    box-sizing: border-box;
}
:root{
    /* Son variables de CSS*/

        --white: #FFFFFF;
        --black: #000000;
        --very-light-pink: #C7C7C7;
        --text-input-field: #F7F7F7;
        --hospital-green: #ACD9B2;
        --fondo: #020202;
        --fondo_1: #0d1117;
        --blueBiolet: #8A2BE2;
        --DarckOrchid: #9932CC;

        /* Colocaresmo medidas, po lo que entiendo las medidas se guardan es las variables, 
        cuando queramos colocarle estas medidas a algo, solamente colocamos el nombre de las
        variables */
        --sm: 18px;        
        --md: 20px;
        --lg: 22px;        


    }  

body{
    margin: 0px;
    background: black;    
    color: var(--white);
    /* font-family: Caveat; */
}

/* -------------------- ESTILO GENERALES ----------------------------- */
h1{
    padding: 0 0 40px 0;    
}

/* Estilos del contenedor contenedorUno */

.contenedor{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

}
.handlee{
    font-family: Handlee;
    font-size: var(--lg);
}

/* Estilos del baner */
.baner{
    display: grid;
    grid-template-columns: 1fr 1fr;
   
    
}
.contenedorUno{
    display: flex;
    background: var(--fondo);
    justify-content: center;
}
.contenedorDos{
    position: relative;
    background: var(--fondo);
}
.autor{
    position: absolute;
    right: 20px;
    top: 10px;
    color: var(--white);
    font-family: Caveat;
    font-size: var(--lg);
}
.contenedor .baner .contenedorUno .titulo{
    /* Indicamos el tipo de letra que queremos utilizar */
    font-family: Martel;
}

/* -------------------------------------------- */

/* Estilos del menu */
.menu{
    display: grid;
    background: var(--fondo_1);
    grid-template-columns: 1fr 1fr;
    font-family: Gruppo;    
}
.contenedor .menu .item{
    color: var(--white);
    border: 1px solid var(--very-light-pink);
    border-radius: 4px;
    text-align: center;    
}

/* ------------------------------------------------------------------------  */

/* Estilos del contenedor tres  */
.contenedorTres{
    display: grid;
    background-image: url(https://i.ytimg.com/vi/fG_po4mdIgk/mqdefault.jpg);
    /* background: var(--fondo); */
    grid-template-columns: 35% 65%;
    height: 100vh;
    width: 100%;
    
}
.contenedorTres #imagenUniverso{
    width: 300px;
    height: 300px;
    background: green;
    padding: 0px;
    border-radius: 15px;
    overflow: hidden;
    place-self: center;

}
.contenedorTres .imagenDiverso img{
    width: 100%;
    height: 100%;
}
.contenedor .contenedorTres .descripcion{
    display: grid;
    /* background: var(--fondo); */
    background-image: url(https://i.ytimg.com/vi/fG_po4mdIgk/mqdefault.jpg);
    width: 100%;
    padding: 50px;
    /* Centramos los elementos que esten dentro de este contenedor grid */
    place-items: center;
    font-size: var(--lg);
    /* font-family: Handlee; */
}
.contenedor .contenedorTres .descripcion #parrafoPrincipal{
    /* Establecemos el tamaño de la letra */
    /* font-size: var(--SuperGrande); */
    color: var(--white);
}

/* ---------------------------- ----Diseño responsivo  ---------------------------------  */

@media (max-width: 640px){

    .contenedor .contenedorTres{

        grid-template-columns: auto;
        grid-template-rows: 50% 50%;

        /* Vamos a indicar como se van a reubicar los elementos en el contenedor grid
        con la siguiente propiedad */
        grid-template-areas: 
        "descripcion"
        "imagen"
        ;
        
    }

    .contenedor .contenedorTres .imagenDiverso{
        display: inline-block;
        justify-self: center;
        /* Esta propiedad funciona en conjunto con la propiedad grid-template-areas, indica cual es el elemento con 
        el nombre */
        grid-area: imagen;
    }

    .contenedor .contenedorTres .descripcion{
        /* Esta propiedad funciona en conjunto con la propiedad grid-template-areas, indica cual es el elemento con 
        el nombre */
        grid-area: descripcion;
    }

    /* ------------------ Stylos del contenedor introducción ------------------------ */

    body .contenedor .introduccion{
        padding: 50px 50px 0 50px;
        display: flex;
        flex-direction: column;
    }

     body .contenedor .introduccion .titulo{
        /* font-size: var(--SuperGrande); */
     }
     body .contenedor .introduccion .saludo{
        font-size: var(--lg);
     }

     body .contenedor .introduccion .yo{
        width: 100%;
        text-align: center;
     }
     body .contenedor .introduccion .mi-foto{
        width: 100%;
        text-align: center;
        margin: 0;
     }
     /* ------------------ Stylos del contenedor demostración ------------------------ */
     body .contenedor .demostracion{
        padding: 0px 50px 50px 50px;
        display: flex;
        flex-direction: column;
     }
     body .contenedor .demostracion .div-contenedor{
        display: flex;
        width: 100%;
        height: 300px;
     }
     body .contenedor .demostracion .div-contenedor figure{
        width: 50%;
     }
     body .contenedor .demostracion .div-contenedor figure img{
        width: 100%;
        height: 100%;
        object-fit: cover;
     }
     body .contenedor .demostracion .div-contenedor p{
        width: 50%;
        padding: 10%;
     }
     body .contenedor .demostracion .div-contenedor *{
        margin: 0;
     }
     body .contenedor .demostracion .div-contenedor-orden figure{
        order: 2;
     }
     body .contenedor .demostracion .div-contenedor-orden p{
        order: 1;
     }

}
