@media (min-width: 600px){
    .introduction{
        display: flex; 
        flex-direction:row; 
        justify-content: space-around;  
        align-items: center;
    }
    .introduction__text{
        width: 50%;
        order: 1;
    }
    .projects__container{
        display: flex; 
        flex-direction:row; 
        justify-content: space-around;  
        align-items: center;
    }
    .projects__blog{
        width: 50%;
        height: 35rem;
    }
    .projects__explanation{
        text-align: center;
    }
    .projects__audio-image-ratio{
        width: 50%;
        height: 35rem;
    }
    .presentation{
        display: flex; 
        flex-direction:row; 
        justify-content: space-around;  
        align-items: center;  
    }
    .presentation__text{
        width: 50%;
        order: 0;
    }
}